<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= image_tag('logo.png', alt: 'logo', class: 'logo', size: '48x48') %>
      </div>
      <div class="col-4 title">
        <span class="title_1">mint</span><span class="title_2">barn</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="header_text">
          The fastest way to <span class="mint">mint</span> on Solana
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="normal_text">
          Mintbarn is built for creators to express their art through NFTs. We have created the easiest way for creators to mint an NFT on Solana.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="iphone_img">
          <%= image_tag('iphone.png', alt: 'iphone', class: 'iphone') %>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <span class="body_text">Fast. Secure. Fun.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= image_tag('arrow.png', alt: 'arrow', class: 'arrow') %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="body_text2">Mint in seconds.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= link_to('https://apps.apple.com/app/id1615549175') do %>
              <%= image_tag('apple_download.png', alt: 'apple_download', class: 'apple_download') %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="social_links">
              <%= link_to('Twitter', 'https://twitter.com/MintBarn') %> / <%= link_to('Discord', '') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
