<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= image_tag('logo.png', alt: 'logo', class: 'logo', size: '48x48') %>
        <%= image_tag('hamburger.jpg', alt: 'menu', class: 'hamburger', size: '48x48') %>
      </div>
      <div class="col-4 title">
        <span class="title_txt1">mint</span><span class="title_txt2">barn</span>
      </div>
      <div class="col-4 links">
        <%= link_to('Twitter', 'https://twitter.com/MintBarn', class: 'twitter_link links_text') %>
        <%= link_to('Discord', 'http://discord.gg/TmrdDVjVfM', class: 'discord_link links_text') %>
        <%= link_to('Terms', '', class: 'terms_link links_text') %>
      </div>
    </div>



    <div class="row">
      <div class="col-6">
        <div class="iphone_img">
          <%= image_tag('iphone.png', alt: 'iphone', class: 'iphone') %>
        </div>
      </div>
      <div class="col-6">

        <div class="row">
          <div class="col-12">
            <span class="text">Turn your photos into an NFT on Solana.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= link_to('https://apps.apple.com/app/id1615549175') do %>
              <%= image_tag('apple_download.png', alt: 'apple_download', class: 'apple_download') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
